<div class="row">
  <div class="col-8">
    <app-new-post></app-new-post>
  </div>
  <div class="col-4">
    <app-search-advanced></app-search-advanced>
  </div>
</div>
<div class="row mt-3">
  <app-top5-recommended-company></app-top5-recommended-company>
</div>
<div class="row mt-3">
  <div class="col-8">
    <app-post-list></app-post-list>
  </div>
  <div class="col-4">
    <app-top6-recommended></app-top6-recommended>
  </div>
</div>
<div class="row mt-3">
  <app-post-top-company></app-post-top-company>
</div>
