<div class="container-fluid">
  <div class="row no-gutter">
<!--       style="background: url('../../../../assets/img/hero/h1_hero.jpg'); background-size: cover; background-repeat: no-repeat">-->
    <div class="col-md-12 col-lg-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading text-center">Thông tin tài khoản</h3>
              <div class="row">
                <div class="col-md-7">
                  <div class="row mt-3">
                  </div>
                  <div class="row mt-3">
                    <div class="col-3">
                      <label class="font-italic">Email:</label>
                    </div>
                    <div class="col-9">
                      <label class="font-weight-bold">{{email}}</label>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-3">
                      <label class="font-italic">Password:</label>
                    </div>
                    <div class="col-9">
                      <label class="font-weight-bold">********</label>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12">
                      <a class="font-weight-bold" routerLink="/companies/edit">Đổi mật khẩu</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



