<div class="row">
  <div class="row">
    <div class="col-12 text-center pt-3">
      <h1 class="display-4 font-weight-bold">Tin mới nhất</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-6" *ngFor="let post of posts">
      <div class="card mb-3" style="max-width: 650px;">
        <div class="row g-0">
          <div class="col-md-3">
            <img [src]="post.company?.image" class="img-fluid rounded-start p-3" alt="..."
                 style="width: 100px;height: 100px">
          </div>
          <div class="col-md-9" style="font-size: 10px">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <p class="card-title" style="font-size: 10px;width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;">
                    <a routerLink="posts/view/{{post.id}}" style="font-size: 20px">{{post.title}}</a>
                    <br>
                    Số lượng tuyển :{{post.quantity}},
                    Cấp bậc :{{post.position}},
                    Kinh nghiệm :{{post.exp}}<br>
                    Thời gian kết thúc : {{post.expiredDate | date : "dd/MM/yyyy"}}
                  </p>
                  <a href="#" class="btn btn-primary" style="font-size: 7px; ">Apply Now</a>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
