<header>
  <!-- Header Start -->
  <div class="header-area header-transparrent">
    <div class="headder-top header-sticky">
      <div class="container-fluid" style="background-color: whitesmoke">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-2">
            <!-- Logo -->
            <div class="logo">
              <a href="../../../../index.html"><img src="../../../../assets/img/logo/logo.png" alt=""></a>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="menu-wrapper">
              <!-- Main-menu -->
              <div class="main-menu">
                <nav class="d-none d-lg-block">
                  <ul id="navigation" class="tu">
                    <li><a routerLink="/">Trang chủ</a></li>
                    <li><a [routerLink]="['/posts/advanced']">Find a Jobs </a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#">Page</a>
                      <ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="single-blog.html">Blog Details</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="job_details.html">job Details</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <!-- Header-btn -->
              <div class="header-btn d-none f-right d-lg-block" *ngIf="token === ''">
                <a [routerLink]="['users','login']" class="btn btn-warning">Người tìm việc</a>
                <a [routerLink]="['companies','login']" class="btn btn-success">Nhà tuyển dụng</a>
              </div>
              <div class="header-btn d-none f-right d-lg-block" *ngIf="(token !== '') && (type === 'USER')">
                <div class="main-menu">
                  <nav class="d-none d-lg-block">
                    <ul id="personal">
                      <li><a>{{name}}</a>
                        <ul class="submenu">
                          <li><a href="#">Thông tin cá nhân</a></li>
                          <li><a (click)="logOut()">Đăng xuất</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="header-btn d-none f-right d-lg-block" *ngIf="(token !== '') &&  (type === 'COMPANY')">
                <div class="main-menu">
                  <nav class="d-none d-lg-block">
                    <ul id="personal1">
                      <a (click)="next()" class="btn btn-primary" style="color: white">Đăng tin tuyển dụng</a>
                      <li><a>{{name}}</a>
                        <ul class="submenu">
                          <li><a routerLink="/companies/account">Quản lý tài khoản</a></li>
                          <li><a routerLink="/companies/info">Thông tin công ty</a></li>
                          <li><a routerLink="/companies/find-all">Bài đăng của tôi</a></li>
                          <li><a (click)="logOut()">Đăng xuất</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>
