ul>li>a{
  text-decoration: none !important;
  font-size: 20px;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.logo a:hover {
  background: none !important;
}
