.viewallbtn {
  text-align: center;
  margin-top: 20px;
}
.viewallbtn a {
  display: inline-block;
  background: #FFFFFF;
  color: #26317f;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 5px;
}
.viewallbtn a:hover {
  background: #FFFFFF;
  text-decoration: none;
}

h1 {
  font-size: 17px;
  margin: auto;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
  background-color: #4977ec;
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
}
