.viewallbtn {
  text-align: center;
  margin-top: 20px;
}
.viewallbtn a {
  display: inline-block;
  background: #FFFFFF;
  color: #26317f;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 5px;
}
.viewallbtn a:hover {
  background: #FFFFFF;
  text-decoration: none;
}
