<div class="container">
  <div class="row">
    <h4 class="text-center">Top công ty</h4>
    <div class="col-1"></div>
    <div class="col-2 p-2 m-2" *ngFor="let post of posts">
      <div class="card" style="width: 100px">
        <img class="card-img-top" [src]="post.company?.image" [alt]="post.company?.shortName">
        <div class="card-body">
          <h5 class="card-title text-center"><a [routerLink]="['/companies/view',post.company?.id]"
                                                style="text-decoration: none">{{post.company?.shortName}}</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>
