h1 {
  font-size: 17px;
  margin: auto;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
  background-color: #00b14f;
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
}

.carousel-cell {
  width: 100%;
}

carousel {
  background-color: #EEEEEE;
  marquee-loop: infinite !important;
}

.carousel-cell img:hover {
  cursor: pointer !important;
}

img:hover {
  cursor: pointer !important;
}
