<!--<h1>Edit Address</h1>-->
<!--<form [formGroup] = "expForm"   (ngSubmit)="updateExp()">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Công việc:</td>-->
<!--      <td><input type="text" formControlName="skill"  ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Year:</td>-->
<!--      <td><input type="text" formControlName="year"  ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Salary:</td>-->
<!--      <td><input type="text" formControlName="salary"  ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td><button>Save</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form [formGroup]="expForm" (ngSubmit)="updateExp()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="skill">Công việc</label>
          <input type="text" class="form-control" formControlName="skill" id="skill" placeholder="skill">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Số năm</label>
          <input type="text" class="form-control" formControlName="year" id="inputPassword4" placeholder="year">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Salary</label>
        <input type="text" class="form-control" formControlName="salary" id="inputAddress" placeholder="salary">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>

  </div>
  <div class="col-4"></div>

</div>
