<div class="job-post-company pt-120 pb-120">
  <div class="container">
    <div class="row justify-content-between border" style="background-color: ghostwhite">
      <!-- Left Content -->
      <div class="col-xl-7 col-lg-8">
        <!-- job single -->
        <div class="single-job-items mb-50">
          <div class="job-items">
            <div class="col-3 company-img company-img-details">
              <a href="#"><img [src]="post.company?.image" width="85px" height="85px"></a>
            </div>
            <div class=" col-9 job-tittle">
              <a href="#">
                <h4>{{post.title}}</h4>
              </a>
              <p>{{post.position}}</p>
              <p><i class="fas fa-map-marker-alt"></i>{{post.company?.address}}</p>
              <p *ngIf="isLogin">{{post.salary}}</p>
              <p *ngIf="!isLogin"><a routerLink="/users/login" class="btn btn-primary">Đăng nhập để xem lương</a></p>
            </div>
          </div>
        </div>
        <!-- job single End -->

        <div class="job-post-details">
          <div class="post-details1 mb-50">
            <!-- Small Section Tittle -->
            <div class="small-section-tittle">
              <h4>Mô tả công việc</h4>
            </div>
            <p>{{post.description}}</p>
          </div>
          <div class="post-details2  mb-50">
            <!-- Small Section Tittle -->
            <!--            <div class="small-section-tittle">-->
            <!--              <h4>Required Knowledge, Skills, and Abilities</h4>-->
            <!--            </div>-->
            <!--            <ul>-->
            <!--              <li>System Software Development</li>-->
            <!--              <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>-->
            <!--              <li>Research and code , libraries, APIs and frameworks</li>-->
            <!--              <li>Strong knowledge on software development life cycle</li>-->
            <!--              <li>Strong problem solving and debugging skills</li>-->
            <!--            </ul>-->
          </div>
          <div class="post-details2  mb-50">
            <!-- Small Section Tittle -->
            <!--            <div class="small-section-tittle">-->
            <!--              <h4>Education + Experience</h4>-->
            <!--            </div>-->
            <!--            <ul>-->
            <!--              <li>3 or more years of professional design experience</li>-->
            <!--              <li>Direct response email experience</li>-->
            <!--              <li>Ecommerce website design experience</li>-->
            <!--              <li>Familiarity with mobile and web apps preferred</li>-->
            <!--              <li>Experience using Invision a plus</li>-->
            <!--            </ul>-->
          </div>
        </div>

      </div>
      <!-- Right Content -->
      <div class="col-xl-4 col-lg-4">
        <div class="post-details3  mb-50">
          <!-- Small Section Tittle -->
          <div class="small-section-tittle">
            <h4 class="text-center font-weight-bold">Thông tin công việc</h4>
          </div>
          <ul>
            <li>Nơi làm việc : <span>{{post.address}}</span></li>
            <li>Số lượng : <span>{{post.quantity}}</span></li>
            <li>Hình thức làm việc : <span>{{post.workForm?.name}}</span></li>
            <li>Ngày hết hạn : <span>{{post.expiredDate }}</span></li>
          </ul>
          <div class="apply-btn2">
            <a class="btn btn-primary" style="color: white">Apply Now</a>
          </div>
        </div>
        <!--        <div class="post-details4  mb-50">-->
        <!--          &lt;!&ndash; Small Section Tittle &ndash;&gt;-->
        <!--          <div class="small-section-tittle">-->
        <!--            <h4>Company Information</h4>-->
        <!--          </div>-->
        <!--          <span>Colorlib</span>-->
        <!--          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>-->
        <!--          <ul>-->
        <!--            <li>Name: <span>Colorlib </span></li>-->
        <!--            <li>Web : <span> colorlib.com</span></li>-->
        <!--            <li>Email: <span>carrier.colorlib@gmail.com</span></li>-->
        <!--          </ul>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
