<div class="row border">
  <div class="row">
    <div class="col-12 text-center pt-3">
      <h1 class="display-4 font-weight-bold uppercase">Tìm kiếm nâng cao</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="row bg-white">
        <div class="col-12">
          <div class="rounded">
            <div class="input-group">
              <input id="button-addon1" type="text" placeholder="Tiêu đề" [(ngModel)]="title" [value]="title"
                     aria-describedby="button-addon1"
                     class="form-control border-0 bg-light mt-0">
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="rounded">
            <div class="input-group">
              <input type="text" placeholder="Địa điểm làm việc" [(ngModel)]="address" [value]="address"
                     aria-describedby="button-addon4"
                     class="form-control border-0 bg-light">
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="row rounded">
            <div class="col-8">
              <input type="text" placeholder="Mức lương tối thiểu" [(ngModel)]="salary" [value]="salary"
                     aria-describedby="button-addon3"
                     class="form-control border-0 bg-light">
            </div>
            <div class="col-4">
              <input type="text" value="triệu đồng" class="form-control border-0 bg-light" readonly>
            </div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="row rounded">
            <div class="col-8">
              <input type="text" placeholder="Năm kinh nghiệm" [(ngModel)]="exp" [value]="exp"
                     aria-describedby="button-addon2"
                     class="form-control border-0 bg-light">
            </div>
            <div class="col-4"><input type="text" value="năm"
                                      class="form-control border-0 bg-light" readonly></div>
          </div>
        </div>
        <div class="col-12 mt-3 pb-3">
          <div class="input-group">
            <button (click)="searchAdvanced()" class="btn-primary form-control">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
