<div class="container">
  <div class="row">
    <div class="card text-dark bg-light mb-3 mr-5 ml-10" *ngFor="let c of cvs">
      <div class="card-body row">
        <div class="col-8"><h3 class="card-title">{{c.name}}</h3></div>
        <div class="col-4"><p class="card-text"><button class="btn btn-primary" (click)="applyCV(c.id)" data-bs-toggle="modal" data-bs-target="#UpCV">Chọn</button></p></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="UpCV" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
    </div>
  </div>
</div>
