<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <h1>Thông tin cá nhân</h1>
    <form [formGroup]="userForm"  (ngSubmit)="updateUser()">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="name">Họ và tên</label>
            <input type="text" id="name" formControlName="name" class="form-control" />
            <div class="col-md-12 alert alert-danger" role="alert"
                 *ngIf="userForm.get('name')?.errors?.required && userForm.get('name')?.touched">
              Tên không được để trống
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="phone">Số điện thoại</label>
            <input type="text" id="phone" formControlName="phone" class="form-control" />
            <div class="col-md-12 alert alert-danger" role="alert"
                 *ngIf="userForm.get('phone')?.errors?.required && userForm.get('phone')?.touched">
              Số điện thoại không được để trống
            </div>
            <div class="col-md-12 alert alert-danger" role="alert"
                 *ngIf="userForm.get('phone')?.errors?.pattern">
              Số điện thoại phải bắt đầu với +84 và 9 chữ số tiếp theo (VD: +84123456789)
            </div>
          </div>
        </div>

      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="password">Mật khẩu</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
        <div class="col-md-12 alert alert-danger" role="alert"
             *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
          <div *ngIf="userForm.get('password')?.errors?.required">
            Mật khẩu không được để trống
          </div>
          <div *ngIf="userForm.get('password')?.errors?.minlength">
            Mật khẩu phải ít nhất 6 ký tự
          </div>
        </div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="email" id="email" formControlName="email" readonly class="form-control" />
        <label class="form-label"  for="email">Email</label>
      </div>

      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>

  </div>
  <div class="col-4">

  </div>
</div>


