<div class="container-fluid">
  <div class="row no-gutter" style="background-image: url('../../../../assets/img/hero/h1_hero.jpg'); height: 700px">
    <div class="col-md-12 col-lg-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading text-center">Sửa thông tin công ty</h3>
                            <div class="alert alert-success" role="alert" *ngIf="isUpdated">{{message}}</div>
              <!--              <div class="alert alert-warning" role="alert" *ngIf="!isRegistered && (message != '')">{{message}}</div>-->
              <form [formGroup]="infoEditForm" (ngSubmit)="edit()" novalidate>
                <div class="row">
                  <div class="col-md-5">
                    <div class="col-12">
                      <img src="{{image}}" style="width: 256px; height: 256px">
                    </div>
                    <div class="col-12 mt-3">
                      <app-upload (givenURLtoCreate)="onChangeImage($event)"></app-upload>
                    </div>
                  </div>
<!--                  <div class="col-md-2"></div>-->
                  <div class="col-md-7">
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="text" class="form-control" formControlName="companyName"
                               placeholder="Tên công ty">
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('companyName')?.errors?.required && infoEditForm.get('companyName')?.touched">
                          Tên công ty không được để trống
                        </div>
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="text" class="form-control" formControlName="shortName"
                               placeholder="Tên viết tắt">
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('email')?.errors?.required && infoEditForm.get('email')?.touched">
                          Email không được để trống
                        </div>
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('email')?.errors?.email">
                          Email sai định dạng (VD: abc@gmail.com)
                        </div>
                      </div>
                    </div>

                    <div class="col mt-3">
                      <div class="input-group has-validation">
                        <span class="input-group-text" style="background: skyblue"><i class="bi bi-lock"></i></span>
                        <input [attr.type]="[isPassword]" class="form-control" formControlName="password"
                               placeholder="Password">
                        <span class="input-group-text" [hidden]="(isPassword== 'text')" (click)="showPass()"
                              style="background: skyblue"><i
                          class="bi bi-eye"></i></span>
                        <span class="input-group-text" [hidden]="(isPassword== 'password')" (click)="showPass()"
                              style="background: skyblue"><i
                          class="bi bi-eye-slash"></i></span>
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('password')?.invalid && infoEditForm.get('password')?.touched">
                          <div *ngIf="infoEditForm.get('password')?.errors?.required">
                            Mật khẩu không được để trống
                          </div>
                          <div *ngIf="infoEditForm.get('password')?.errors?.minlength">
                            Mật khẩu phải ít nhất 8 ký tự
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col mt-3">
                      <div class="input-group has-validation">
                        <span class="input-group-text" style="background: skyblue"><i class="bi bi-lock"></i></span>
                        <input [attr.type]="[isConfirmedPassword]" class="form-control"
                               formControlName="confirmedPassword"
                               placeholder="Confirm password">
                        <span class="input-group-text" [hidden]="(isConfirmedPassword== 'text')"
                              (click)="showConfirmedPass()" style="background: skyblue"><i
                          class="bi bi-eye"></i></span>
                        <span class="input-group-text" [hidden]="(isConfirmedPassword== 'password')"
                              (click)="showConfirmedPass()" style="background: skyblue"><i
                          class="bi bi-eye-slash"></i></span>
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('confirmedPassword')?.invalid && infoEditForm.get('confirmedPassword')?.touched">
                          <div *ngIf="infoEditForm.get('confirmedPassword')?.errors?.required">
                            Xác nhận mật khẩu không được để trống
                          </div>
                        </div>
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.value.password != infoEditForm.value.confirmedPassword">
                          Xác nhận mật khẩu không trùng khớp
                        </div>
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-telephone"></i></span>
                        <input type="text" class="form-control" formControlName="phone" placeholder="Phone">
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('phone')?.errors?.required && infoEditForm.get('phone')?.touched">
                          Số điện thoại không được để trống
                        </div>
                        <div class="col-md-12 alert alert-danger" role="alert"
                             *ngIf="infoEditForm.get('phone')?.errors?.pattern">
                          Số điện thoại phải bắt đầu với +84 và 9 chữ số tiếp theo (VD: +84123456789)
                        </div>
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                        <span class="input-group-text" style="background: skyblue"><i class="bi bi-book"></i></span>
                        <textarea type="text" class="form-control" formControlName="description"
                                  placeholder="Mô tả"></textarea>
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="text" class="form-control" formControlName="address" placeholder="Địa chỉ">
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="number" class="form-control" formControlName="numberOfStaff"
                               placeholder="Số lượng nhân viên">
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="text" class="form-control" formControlName="branch" placeholder="Chi nhánh">
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="text" class="form-control" formControlName="linkGoogle"
                               placeholder="Link Google">
                      </div>
                    </div>
                    <div class="col mt-3">
                      <div class="input-group has-validation">
                          <span class="input-group-text" style="background: skyblue"><i
                            class="bi bi-building"></i></span>
                        <input type="text" class="form-control" formControlName="website" placeholder="Website">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col mt-3">
                  <button class="btn head-btn2 form-control"
                          [disabled]="infoEditForm.invalid">Edit
                  </button>
                </div>

                <div class="text-center pt-3">
                  Bạn đã có tài khoản? <a class="font-weight-bold" routerLink="/companies/login">Đăng nhập ngay</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
    </div>
  </div>
</div>


