<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <a routerLink="/exp/create">Create</a>
    <table class="table ">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Công việc</th>
        <th scope="col">Số năm</th>
        <th scope="col">Mức lương</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expList of exps, index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{expList.skill}}</td>
        <td>{{expList.year}}</td>
        <td>{{expList.salary}}</td>
        <td><a [routerLink]="['/exp/edit/',expList.id]">Edit</a></td>
        <td><a [routerLink]="['/exp/delete/',expList.id]">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3"></div>

</div>

